.tea {
  max-width: 100%;
  min-height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  gap: 5px;
}

.tea img {
  width: 300px;
}

.tea-title {
  font-family: "Arial Narrow", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.tea-description {
  width: 60%;
}
